*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans;
}
#home{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#nav{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    position: relative;
    max-width: 80px;
}
 .ul_list{
    position: relative;
    display: flex;
}
.ul_list{
    list-style: none;
}
.link_list{
    display: inline-block;
    margin-left: 40px;
    text-decoration: none;
    color: #333;
    font-size:18px;
}
.link_list:hover{
    font-weight: bold;
    color: #ff9900;
    transition:0.3s;
}
.content{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.textBox{
    position: relative;
    max-width: 600px;
}
#head1{
    color: #333;
    font-size: 4em;
    line-height: 1.4em;
    font-weight: 500;
}
#head2{
    color: #333;
    font-size: 4em;
    line-height: 1.4em;
    font-weight: 500;
}
#head2 span{
    color: #ff9900;
    font-size: 1.2em;
    font-weight: 900;
}
.text{
    color: #333;
}
.btnHead{
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background-color: #ff9900;
    color: #fff;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
}
.btnHead:hover{
    background-color: #333;
    color: #ff9900;
    transition:0.5s;
}
.imgBox{
    width: 600px;
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
    margin-top: 50px;
}
.chessimg{
    max-width: 640px;
}
.thumb{
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    display: flex;
}
.thumb li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;
    transition: 0.5s;
}
.thumb li:hover{
    transform: translateY(-15px);
}
.thumb li img{
    max-width: 60px;
}
.social{
    position:absolute;
    top:50%;
    right: 30px;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.social li{
    list-style: none;
}
.social li a{
    display: inline-block;
    margin: 5px 0;
    transform: scale(0.6);
    filter: invert(1);
    cursor: pointer;
}
.social li a :hover{
    transform: translateY(-10px);
    transition: 0.5s;
}
.zone{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ff9900;
    clip-path: circle(600px at right 800px);
}

/*BLOG----------------------------*/

#blog-section{
    display: flex;
    justify-content:center;
    align-items: center;
    padding-top: 140px;
    flex-direction: column;
}
#blog-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 3em;
    font-weight: 500;
    color: #333;
}

.blog-container{
    display: flex;
    justify-content:center;
    align-items: center;
    margin: 60px 0;
    flex-wrap: wrap;
}
.article-box{
    width: 600px;
    background-color: whitesmoke;
    margin: 20px;
    border-radius: 20px;
}
.blog-img{
    width: 100%;
    height: auto;
}
.blog-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 20px 20px 0 0;
}
.article-text{
    padding: 30px;
    display: flex;
    flex-direction: column;
}
#article-title{
    font-size: 1.6rem;
    color: #ff9900;
    text-decoration: none;
    font-weight: 600;
}
#article-paragraph{
    font-size: 1rem;
    overflow: hidden;
    margin: 20px 0;
    color: #333;
}
#article-btn{
    width: 140px;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;
    color: #333;

}
#article-btn:hover{
    color: #ff9900;
    transition: 0.3s;
}
/*CONTACT-------------------------*/

.contact-form{
    min-height: 100vh;
    padding-top: 100px;
    justify-content: center;
    display: grid;
    grid-template-rows: 1fr auto 1fr;
    align-items: center;
}
.container{
    max-width: 800px;
}
.contact-form h2{
    line-height: 40px;
    margin-bottom: 5px;
    font-size: 3em;
    font-weight: 500;
    color: #333;
    text-align: center;
}
.contact-form .main{
    position: relative;
    display: flex;
    margin: 30px 0;
}
.contact-content{
    flex-basis: 50%;
    padding: 3em 4em;
    background: whitesmoke;
    border-radius: 20px 0 0 20px;
}
.form-img{
    flex-basis: 50%;
    background: #f0f4f8;
    background-size: cover;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    align-items: center;
    display: grid;
}
.form-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 0 20px 20px 0;
}
.btn,
button,
input{
    border-radius: 30px;
}
.btn:hover,
button:hover{
    background-color: #333;
    color: #ff9900;
    transition: 0.5s;
    cursor: pointer;
}
.contact-form form{
    margin: 30px 0;
}
.contact-form input{
    outline: none;
    margin-bottom: 15px;
    font-stretch: 16px;
    color: #333;
    padding: 14px 20px;
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
    border: none;
    background: #fff;
    transition: 0.3s ease;
}
.contact-form input:focus{
    background: #fff;
    border: 1px solid #ff9900;
}
.contact-form button{
    font-size: 18px;
    color: #fff;
    width: 100%;
    background: #ff9900;
    font-weight: 600;
    transition: 0.3s ease;
    padding: 14px 15px;
    border: none;
}
@media(max-width:1250px){
    .article-box{
        width: 300px;
    }
}
@media(max-width:1100px){
    .article-box{
        width: 70%;
    }
}
@media(max-width:550px){
    .article-box{
        margin: 20px 10px;
        width: 100%;
    }
    #blog-section{
        padding: 20px;
    }
}
/*@media(max-width: 750px){
    .contact-form main{
        flex-direction: column;
    }
    .contact-form form{
        margin-top: 30px;
        margin-bottom: 10px;
    }
    .content{
        order: 1;
        border-top-right-radius: 8px;
        border-top-left-radius: 8px;
    }
    .form-img{
        border-radius: 0;
        order: 2;
        border-bottom-right-radius: 8px;
        border-bottom-left-radius: 8px;
    }
}*/